<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>WApplicationId</Key>
            <Value>d25517cb-12d4-4699-8bdc-52040c712cab</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>3f83fe91-d6be-434d-a0ae-7351c5a997f1</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC2</Id>
        <Name>AdMediatorC2</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC3</Id>
        <Name>AdMediatorC3</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC4</Id>
        <Name>AdMediatorC4</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC5</Id>
        <Name>AdMediatorC5</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC6</Id>
        <Name>AdMediatorC6</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC7</Id>
        <Name>AdMediatorC7</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC8</Id>
        <Name>AdMediatorC8</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdR9</Id>
        <Name>AdMediatorC9</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC10</Id>
        <Name>AdMediatorC10</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC11</Id>
        <Name>AdMediatorC11</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC12</Id>
        <Name>AdMediatorC12</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC13</Id>
        <Name>AdMediatorC13</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC14</Id>
        <Name>AdMediatorC14</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC15</Id>
        <Name>AdMediatorC15</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC16</Id>
        <Name>AdMediatorC16</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC17</Id>
        <Name>AdMediatorC17</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC18</Id>
        <Name>AdMediatorC18</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC19</Id>
        <Name>AdMediatorC19</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UIdC20</Id>
        <Name>AdMediatorC20</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UC1</Id>
        <Name>AdMediatorC1</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UCh1</Id>
        <Name>AdMediatorCh1</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM2</Id>
        <Name>AdMediatorM2</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM3</Id>
        <Name>AdMediatorM3</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM4</Id>
        <Name>AdMediatorM4</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM5</Id>
        <Name>AdMediatorM5</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM6</Id>
        <Name>AdMediatorM6</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM7</Id>
        <Name>AdMediatorM7</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM8</Id>
        <Name>AdMediatorM8</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM9</Id>
        <Name>AdMediatorM9</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM10</Id>
        <Name>AdMediatorM10</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM11</Id>
        <Name>AdMediatorM11</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM12</Id>
        <Name>AdMediatorM12</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM13</Id>
        <Name>AdMediatorM13</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM14</Id>
        <Name>AdMediatorM14</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM15</Id>
        <Name>AdMediatorM15</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UM1</Id>
        <Name>AdMediatorM1</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR2</Id>
        <Name>AdMediatorR2</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR3</Id>
        <Name>AdMediatorR3</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR4</Id>
        <Name>AdMediatorR4</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR5</Id>
        <Name>AdMediatorR5</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR6</Id>
        <Name>AdMediatorR6</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR7</Id>
        <Name>AdMediatorR7</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR8</Id>
        <Name>AdMediatorR8</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdAMediatorId1UR9</Id>
        <Name>AdMediatorR9</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR10</Id>
        <Name>AdMediatorR10</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR11</Id>
        <Name>AdMediatorR11</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR12</Id>
        <Name>AdMediatorR12</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR13</Id>
        <Name>AdMediatorR13</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR14</Id>
        <Name>AdMediatorR14</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR15</Id>
        <Name>AdMediatorR15</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR16</Id>
        <Name>AdMediatorR16</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR17</Id>
        <Name>AdMediatorR17</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR18</Id>
        <Name>AdMediatorR18</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR19</Id>
        <Name>AdMediatorR19</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR20</Id>
        <Name>AdMediatorR20</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediatorId1UR1</Id>
        <Name>AdMediatorR1</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>1.0.3</SchemaVersion>
  <UpdatedDateTime>2015-08-15T05:56:22.1288102Z</UpdatedDateTime>
  <UseRoundRobin>true</UseRoundRobin>
</AdMediatorConfiguration>